<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/signLayout}">
<th:block layout:fragment="content">
    <section class="contents d-flex justify-content-end align-items-center">
        <div class="signInBox bg-white d-flex justify-content-center align-items-center">
            <div class="w-50">
                <div class="display-4 mb-3 d-flex justify-content-center">Instantgram</div>
                <div class="text-primary mb-4 d-flex justify-content-center">Sign in</div>
                <form method="post" action="/user/sign-in" id="signInForm">
                    <input name="id" type="text" class="form-control" placeholder="ID">
                    <input name="password" type="password" class="form-control mt-3" placeholder="password">
                    <button type="submit" id="loginBtn" class="btn btn-success form-control mt-4">Login</button>
                </form>
                <div class="mt-4 d-flex justify-content-between">
                    <span>Don't you have account?</span>
                    <a href="/user/sign-up-view">Sign up</a>
                </div>
            </div>
        </div>
        <div class="blankBox"></div>
    </section>

    <script>
        $(function(){
            $("#signInForm").on("submit", function(e){
                e.preventDefault();

                let loginId = $("input[name=id]").val().trim();
                let password = $("input[name=password]").val().trim();

                if(!loginId){
                    alert("아이디를 입력하세요.");
                }
                if(!password){
                    alert("비밀번호를 입력하세요.");
                }

                let url = $(this).attr("action");
                let params = $(this).serialize();

                $.post(url, params)
                .done(function(data){
                    if(data.code == 200){
                        location.href = "/timeline"
                    } else{
                        alert(data.error_message);
                    }
                });
            });
        });
    </script>
</th:block>