<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
    <header class="bg-info col-2">
        <h2 class="my-5 d-flex justify-content-center">Instantgram</h2>
        <nav class="">
            <ul class="nav flex-column">
                <li class="nav-item my-2">
                    <a href="#" class="nav-link black"><h4>home</h4></a>
                </li>
                <li class="nav-item my-2">
                    <a href="#" class="nav-link black"><h4>search</h4></a>
                </li>
                <li class="nav-item my-2">
                    <a href="#" class="nav-link black"><h4>explore</h4></a>
                </li>
                <li class="nav-item my-2">
                    <a href="#" class="nav-link black"><h4>message</h4></a>
                </li>
                <li class="nav-item my-2">
                    <a href="#" class="nav-link black"><h4>notification</h4></a>
                </li>
            </ul>
        </nav>
    </header>
</th:block>
</html>