<!DOCTYPE html>
<html
        lang="ko"
        xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="headerFragment">
    <header class="border">
        <div class="w-100 d-flex justify-content-center logo">
            <a><img class="my-5" width="38px" height="38px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/CIS-A2K_Instagram_Icon_%28Black%29.svg/1024px-CIS-A2K_Instagram_Icon_%28Black%29.svg.png"></a>
        </div>
        <nav class="menu">
            <ul class="nav flex-column">
                <li class="nav-item mt-5 my-3 d-flex">
                    <a href="#" class="nav-link black d-flex align-items-center"><img class="ml-4 mr-5" width="30px" height="30px" src="https://cdn-icons-png.flaticon.com/512/1946/1946488.png"></a>
                </li>
                <li class="nav-item my-3">
                    <a href="#" class="nav-link black d-flex align-items-center"><img class="ml-4 mr-5" width="30px" height="30px" src="https://static-00.iconduck.com/assets.00/search-icon-2048x2048-cmujl7en.png"></a>
                </li>
                <li class="nav-item my-3">
                    <a href="#" class="nav-link black d-flex align-items-center"><img class="ml-4 mr-5" width="30px" height="30px" src="https://static-00.iconduck.com/assets.00/explore-icon-512x512-znt7vcm6.png"></a>
                </li>
                <li class="nav-item my-3">
                    <a href="#" class="nav-link black d-flex align-items-center"><img class="ml-4 mr-5" width="30px" height="30px" src="https://cdn-icons-png.freepik.com/512/59/59488.png"></a>
                </li>
                <li class="nav-item my-3">
                    <a href="#" class="nav-link black d-flex align-items-center"><img class="ml-4 mr-5" width="30px" height="30px" src="https://static-00.iconduck.com/assets.00/circle-notifications-icon-512x512-8f7vxpgn.png"></a>
                </li>
            </ul>
        </nav>
    </header>
</th:block>
</html>