<!DOCTYPE html>
<html
        xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layout/defaultLayout}">
<th:block layout:fragment="content">
    <section class="contents d-flex justify-content-center timeline">
        <div class="contents-box w-50">
            <!-- 글쓰기 영역(로그인 된 사람만 보임) -->
            <div class="write-box border rounded m-3 mt-5">
                <textarea id="writeTextArea" placeholder="내용을 입력해주세요" rows="3" class="w-100 border-0 form-control"></textarea>

                <div class="d-flex justify-content-between">
                    <div class="file-upload d-flex">
                        <!-- file 태그를 숨겨두고 이미지를 클릭하면 파일을 클릭한 것과 같은 효과를 준다. -->
                        <input type="file" id="file" accept=".jpg, .png, .gif" class="d-none">

                        <!-- 이미지에 마우스 올리면 마우스 커서가 link로 변경 -->
                        <a href="#" id="fileUploadBtn" class="m-2"><img width="30px" src="https://static-00.iconduck.com/assets.00/camera-circle-icon-2048x2048-aggqa7eg.png"></a>

                        <div id="fileName" class="ml-2 d-flex align-items-center"></div>
                    </div>
                    <button id="writeBtn" class="btn btn-info col-1">게시</button>
                </div>
            </div>

            <!-- 타임라인 영역 -->
            <div class="timeline-box my-5">

                <!-- 글(카드) 반복 -->
                <div class="card border rounded m-3" th:each="card : ${cardList}">
                    <!-- 글쓴이, 더보기(삭제) -->
                    <div class="p-2 d-flex justify-content-between">
                        <div class="d-flex">
                            <a class="profile-images m-2" th:href="|/profile?userId=${card.user.id}|">
                                <img th:unless="${card.user.profileImagePath == null}"
                                     th:src="${card.user.profileImagePath}"
                                     alt="Profile Image">
                                <img th:if="${card.user.profileImagePath == null}"
                                     src="https://www.svgrepo.com/show/369630/user-circle.svg"
                                     alt="Default Profile Image">
                            </a>
                            <div class="d-flex align-items-center">
                                <a th:href="|/profile?userId=${card.user.id}|" class="profile-info ml-2">
                                    <div class="font-weight-bold" th:text="${card.user.name}">글쓴이</div>
                                    <div class="small text-muted" th:text="${card.user.loginId}">글쓴이</div>
                                </a>

                                <th:block th:if="${card.user.id} != ${session.userId}">
                                    <button th:data-post-user-id="${card.user.id}" th:if="${card.isFollow} == true" class="follow-btn font-weight-bold text-white btn btn-primary ml-4">followed</button>
                                    <button th:data-post-user-id="${card.user.id}" th:unless="${card.isFollow} == true" class="follow-btn font-weight-bold text-primary btn btn-white ml-4">follow</button>
                                </th:block>
                            </div>
                        </div>

                        <!-- 더보기 ...(로그인 된 사람과 글쓴이 정보 일치할 때 보이게) -->
                        <a href="#" class="more-btn" th:data-post-id="${card.post.id}" th:if="${card.user.id} == ${session.userId}" data-toggle="modal" data-target="#modal">
                            <img src="https://www.iconninja.com/files/860/824/939/more-icon.png" width="30">
                        </a>
                    </div>

                    <!-- 본문 이미지 -->
                    <div class="card-img">
                        <img th:src="${card.post.imagePath}" class="w-100" alt="본문 이미지">
                    </div>

                    <!-- 글 -->
                    <div class="card-post m-3">
                        <span th:text="${card.post.content}">글 내용입니다!!!!</span>
                    </div>

                    <!-- 좋아요 -->
                    <div class="card-like m-3 d-flex align-items-center">
                        <a href="#" th:data-like="${card.post.id}" class="like-btn d-flex align-items-end mr-2">
                            <img th:if="${card.filledLike == false}" src="https://www.iconninja.com/files/214/518/441/heart-icon.png" width="20" height="20" alt="empty heart">
                            <img th:unless="${card.filledLike == false}" src="https://www.iconninja.com/files/527/809/128/heart-icon.png" width="20" height="20" alt="filled heart">
                        </a>
                        <span class="mr-4 font-weight-bold" th:text="${card.likeCount}">13</span>

                        <a href="#" class="commentBtn d-flex align-items-end mr-2">
                            <img src="https://static-00.iconduck.com/assets.00/comment-icon-1024x964-julk98bl.png" width="20" height="20" alt="empty heart">
                        </a>
                        <span class="font-weight-bold" th:text="${card.commentCount}">10</span>
                    </div>

                    <!-- 댓글 목록 -->
                    <div class="card-comment-list my-2 border-top">
                        <!-- 댓글들 -->
                        <div th:each="comment : ${card.commentList}">
                            <div class="card-comment my-3 ml-3 d-flex align-items-center">
                                <span class="font-weight-bold d-flex align-items-center" th:text="${comment.user.name}">댓글쓰니</span>
                                <span class="ml-3 d-flex align-items-center" th:text="${comment.comment.comment}">댓글 내용임</span>

                                <!-- 댓글 삭제(자신의 댓글만 가능) -->
                                <a href="#" th:data-comment-comment-id="${comment.comment.id}" th:if="${comment.user.id} == ${session.userId}" class="comment-del-btn ml-3 d-flex align-items-center">
                                    <img src="https://www.iconninja.com/files/603/22/506/x-icon.png" width="10" height="10">
                                </a>
                            </div>
                        </div>

                        <!-- 댓글 쓰기 -->
                        <div class="comment-write d-flex px-2 mt-2">
                            <input type="text" class="comment-input form-control border rounded" placeholder="댓글 달기">
                            <button type="button" th:value="${card.post.id}" class="comment-btn btn btn-light">게시</button>
                        </div>
                    </div> <!-- 댓글 끝 -->
                </div> <!-- 카드 끝 -->
            </div> <!-- 타임라인 박스 끝 -->
        </div> <!-- 컨텐츠 박스 끝 -->
    </section>

    <!-- Modal -->
    <div class="modal fade" id="modal">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content text-center">
                <div class="py-3">
                    <a><button type="button" id="postDel" class="btn">삭제하기</button></a>
                </div>
                <div class="py-3 border-top">
                    <a data-dismiss="modal"><button type="button" class="btn">취소</button></a>
                </div>
            </div>
        </div>
    </div>


    <script>
        $(function(){
            $(".more-btn").on("click", function (){
                let postId = $(this).data("post-id");

                $("#modal").data("post-id", postId); //set
            });

            $("#modal #postDel").on("click", function(){
                event.preventDefault();

                let postId = $("#modal").data("post-id");

                $.ajax({
                    type:"delete",
                    url:"post/delete",
                    data:{"postId":postId},

                    success:function(data){
                        if(data.code == 200){
                            alert("포스트가 삭제되었습니다.");
                            location.reload();
                        } else if (data.code == 403){
                            alert(error_message);
                        }
                    },
                    error:function(e){
                        alert("실패!");
                    }
                });
            });

            $(".follow-btn").on("click", function(){
                event.preventDefault();
                let postUserId = $(this).data("post-user-id");

                $.ajax({
                    url:"/follow",
                    data:{"postUserId": postUserId},

                    success:function(data){
                        if(data.code == 200){
                            location.reload();
                        } else{
                            alert(data.error_message);
                            location.href = "/user/sign-in-view";
                        }
                    },
                    error:function(e){
                        alert("실패!");
                    }
                });
            });
            $(".like-btn").on("click", function(){
                event.preventDefault();
                let like = $(this).data("like");

                $.ajax({
                    url:"/like/" + like,

                    success:function(data){
                        if(data.code == 200){
                            location.reload();
                        } else{
                            alert(data.error_message);
                            location.href = "/user/sign-in-view";
                        }
                    },
                    error:function(e){
                        alert("실패!");
                    }
                });
            });

            $(".comment-del-btn").on("click", function(){
                event.preventDefault();
                let id = $(this).data("comment-comment-id");
                console.log(id);
                $.ajax({
                    type:"post",
                    url:"/comment/delete",
                    data:{"id" : id},

                    success:function(data){
                        if(data.code == 200){
                            alert("댓글이 삭제되었습니다.");
                            location.reload();
                        } else{
                            alert(data.error_message);
                        }
                    },
                    error:function(e){
                        alert("실패!");
                    }
                });
            });

            $(".comment-btn").on("click", function(){
                let postId = $(this).val();
                // let comment = $(this).siblings(".comment-input").val().trim();
                let comment = $(this).prev().val().trim();

                console.log(postId);
                console.log(comment);

                if(!comment){
                    alert("댓글 내용을 입력해주세요.");
                    return;
                }

                $.ajax({
                    type: "post",
                    url: "/comment/create",
                    data: {"postId": postId, "comment": comment},  // 쉼표 추가
                    success: function(data){
                        if(data.code == 403){
                            alert("로그인 세션이 만료되었습니다. 다시 로그인 해주세요.");
                            location.href = "/user/sign-in-view";
                        } else if(data.code == 200){
                            alert("댓글이 저장되었습니다.");
                            location.reload();
                        } else {
                            alert(data.error_message);
                        }
                    },
                    error: function(e){
                        alert("실패!");
                    }
                });
            });

            $("#fileUploadBtn").on("click", function(e){
                e.preventDefault();

                $("#file").click();

            });

            $("#file").on("change", function(e){

                if(e.target.files[0] == null){
                    $("#file").val("");
                    $("#fileName").text("");
                    return;
                }

                let fileName = e.target.files[0].name;
                console.log(fileName);

                let ext = fileName.split(".").pop().toLowerCase();
                console.log(ext);

                if(ext != "jpg" && ext != "gif" && ext != "png"){
                    alert("이미지 파일만 업로드 할 수 있습니다.");
                    $("#file").val("");
                    $("#fileName").text("");
                    return;
                }

                $("#fileName").text(fileName);
            });

            $("#writeBtn").on("click", function(){
                let file = $("#file")[0].files[0];
                let content = $("#writeTextArea").val();
                let fileName = $("#fileName").text();


                if(!fileName){
                    alert("이미지를 첨부해주세요.");
                    return;
                }

                let formData = new FormData();
                formData.append("file", file);
                formData.append("content", content);

                $.ajax({
                    type:"post",
                    url:"/post/create",
                    data:formData,
                    processData:false,
                    contentType:false,
                    enctype:"multipart/form-data",

                    success:function(data){
                        if(data.code == 200){
                            alert("포스트가 저장했습니다.");
                            location.href = "/timeline";
                        } else if(data.code == 403){
                            alert("로그인 세션이 만료되었습니다. 다시 로그인해 주세요.");
                            location.href = "/user/sign-in-view";
                        } else{
                            alert("게시 실패. 관리자에게 연락주세요.")
                        }
                    },
                    error:function(e){
                        alert("실패!");
                    }
                });
            });

        });
    </script>
</th:block>